<!DOCTYPE html>
<html>
  <head>
    <title>Px</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <% if user_signed_in? %>
        <%= link_to(I18n.t('sign_out'), destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to(I18n.t('devise.sessions.new.sign_in'), new_user_session_path) %>
      <% end %>
    </nav>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
